.navbar{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    background-color: black;
    width: 100vw;
    height: 10vh;
    font-size: 28px;
    filter: drop-shadow(2px 2px 5px black);
}
.navbar ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    margin: 0;
    list-style-type: none;
    padding: 0 40px;
}
.navbar ul li {
    color: white;
    text-align: center;
    width: 33%;
    margin: 0;
    padding: 0;
}
li .name {
    text-align: start;
}